body{
    color: blueviolet;
    background-color:rgb(3, 3, 148);
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button{
    color: blueviolet;
    background-color:rgb(3, 3, 148);
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
      
}

.passo{
  display: none;
}

.passo.ativo{
  display: block;
}